#docs {
   height: 100%;
   overflow: auto;
   scrollbar-color: rgba(69, 105, 224, 0.514) rgba(255, 255, 255, 0.192);
   scrollbar-width: thin;
   text-shadow: 1px 1px #2424248c;

   i {
      color: rgb(94, 219, 228);
      font-style: normal;
   }

   #inner {
      width: 700px;
      height: 1px;
      margin: auto;
      padding: 25px;
      padding-top: 0px;
      font-size: 13px;
      color: rgb(194, 194, 194);
   
      a:link, a:visited { color: rgba(238, 238, 101, 0.795); }
      a:hover { color: rgb(236, 236, 122); }

      .header {
         font-size: 17px;
         padding-top: 25px;
         padding-bottom: 5px;
         border-bottom: 2px dotted rgba(128, 128, 128, 0.322);
         color: white;
      }
   
      .content {
         padding: 10px 10px 0px 10px;
         text-align: justify;
         line-height: 165%;

         .paragraph {
            padding-bottom: 12px;
         }

         .subheader {
            border-bottom: 2px dotted rgba(128, 128, 128, 0.322);
            padding-bottom: 3px;
            color: rgba(163, 247, 155, 0.877);
         }
   
         .subcontent {
            padding: 5px;
            padding-bottom: 15px;
         }
   
         .subcontent:last-child, .paragraph:last-child {
            padding-bottom: 0px;
         }
   
         #container {
            width: 300px;
            
            div {
               text-align: left;
   
               div:first-child {
                  width: 100px;
               }
            }
         }
      }

      .content:last-child {
         margin-bottom: 20px;
      }
   
      // LOW RES FALLBACK
      @media (max-width: 800px) {
         width: 100%;
      }
   }
}

#docs::-webkit-scrollbar { width: 12px; }
#docs::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0.192); }
#docs::-webkit-scrollbar-thumb { background: rgba(69, 105, 224, 0.514); }