#map {
   width: 1440px;
   height: 960px;
   position: absolute;
   transition-property: background, top, left, opacity;
   transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
   opacity: 0;

   #primary-inner, #secondary-inner {
      stroke-width: 4px;
      opacity: 0.9;
      stroke: rgb(255, 39, 39);
   }

   #secondary-inner {
      stroke: rgb(28, 68, 117);
   }

   #primary-outer, #secondary-outer {
      stroke-width: 6px;
      stroke: rgb(78, 9, 9);
   }

   #secondary-outer {
      stroke: rgb(2, 14, 32);
   }

   foreignobject {
      width: 100%;
      height: 100%;
      z-index: 10;
   }

   circle {
      opacity: 0;
      transition: opacity 0.2s;
      r: 30;
      stroke: rgb(12, 12, 12);
      stroke-width: 1;
   }

   .waypoint {
      position: absolute;
      width: 1px;
      height: 1px;

      span {
         background: rgba(0, 0, 0, 0.76);
         position: absolute;
         pointer-events: none;
         padding: 1px;
         border-radius: 25%;
         opacity: 1;
      }

      // NUMBER ALIGNMENT
      #left { position: absolute; left: -20; top: -6; }
      #right { position: absolute; left: 10; top: -6; }
      #top { position: absolute; left: -5; top: -21; }
      #bottom { position: absolute; left: -5; top: 10; }
   
      #quest,
      #travel,
      #objective,
      #flightpath,
      #hub {
         position: relative;
         left: -5px;
         top: -5px;
      }
   
      #quest  { background: url('../images/waypoints/yellow.png'); }
      #travel { background: url('../images/waypoints/purple.png'); }
      #objective { background: url('../images/waypoints/red.png'); }
      #flightpath { background: url('../images/waypoints/green.png'); }
      #hub { background: url('../images/waypoints/blue.png'); }
   }
}

#next, #prev {
   background: rgba(0, 0, 0, 0.24);
   position: absolute;
   transition: opacity 0.2s;
   cursor: pointer;
   width: 10%;
   background-repeat: no-repeat;
   background-position: center center;
   top: 0px;
   opacity: 0;
}

// ICONS COURTESY OF https://www.flaticon.com/authors/smashicons

#prev {
   background-image: url('../images/prev.png');
   left: 0px;
}

#next {
   background-image: url('../images/next.png');
   right: 0px;
}