#message {
   position: absolute;
   right: 0px;
   bottom: 0px;
   z-index: 99;
   text-align: right;
   display: none;
   opacity: 0;
   transition: 0.3s;

   #inner {
      color: white;
      padding: 8px 12px;
      margin: 20px;
      border-radius: 5px;
      text-transform: uppercase;
      text-shadow: 1px 1px #242424;
   }

   .bad {
      background: rgb(187, 49, 49);
      border: 1px solid rgb(197, 102, 102);
   }
   
   .good {
      background: rgb(44, 158, 63);
      border: 1px solid rgb(108, 196, 123);
   }
}