#prompt {
   background: rgba(0, 0, 0, 0.644);
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: 99;
   transition: 0.1s;
   opacity: 1;
   display: flex;
   justify-content: center;
   align-items: center;

   #inner {

      // PROMPT HEADER
      #header {
         text-align: center;
         color: white;
         font-size: 18px;
         text-transform: uppercase;
         margin-bottom: 5px;
      }
   
      #create, #import, #export {
         background: rgba(0, 0, 0, 0.473);
         min-width: 300px;
         padding: 2px;
      }

      // CREATE PROMPT
      #create {
         display: flex;

         // TEXT
         #content {
            background: rgba(255, 255, 255, 0.904);
            border: 2px solid white;
            width: 200px;
            padding: 3px 5px;
            color: #333333;
            flex: 1;
         }
         
         // BUTTONS
         #good, #bad {
            background: rgba(87, 194, 65, 0.897);
            border: 2px solid rgba(87, 194, 65, 0.911);
            width: auto;
            margin-left: 2px;
            color: white;
            transition: 0.3s;
            padding: 3px 5px;
         }
         
         #good {
            cursor: pointer;
         }
         
         #bad {
            background: rgba(194, 65, 65, 0.897);
            border: 2px solid rgba(199, 70, 70, 0.897);
         }
      }

      // CREATE PROFILE ERROR FRAME
      #errors {
         min-height: 50px;
         display: flex;
         justify-content: center;
         align-items: center;

         #row {
            background: rgba(194, 65, 65, 0.897);
            border: 2px solid rgba(199, 70, 70, 0.897);
            color: white;
            padding: 4px 6px;
            border-radius: 4px;
         }
      }

      // IMPORT PROMPT
      #import {

         #factions {
            display: flex;
            width: 100%;

            // FACTION TABS
            .tab {
               background: rgba(189, 51, 51, 0.815);
               border-bottom: 2px solid rgba(187, 58, 58, 0.644);
               flex: 1;
               padding: 5px;
               text-align: center;
               margin-right: 2px;
               text-shadow: 1px 1px #24242480;
               text-transform: uppercase;
               transition: 0.2s;
               color: white;
               cursor: pointer;
            }

            .tab:last-child {
               margin-right: 0px;
            }

            // SELECTED TAB
            #selected {
               background: rgba(51, 150, 51, 0.774);
               border-bottom: 2px solid rgba(53, 151, 53, 0.705);
               cursor: default;
            }
         }

         // FILE INPUT FIELD
         #container {
            background: rgba(0, 0, 0, 0.664);
            border: 1px dashed rgba(255, 255, 255, 0.301);
            margin-top: 2px;
            height: 80px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #CECECE;
            transition: 0.2s;

            #route {
               background: red;
               width: 100%;
               height: 100%;
               opacity: 0;
               z-index: 2;
               cursor: pointer;
            }

            #label {
               position: absolute;
               z-index: 1;
               font-size: 15px;
               text-transform: uppercase;
            }
         }

         #container:hover {
            color: white;
         }
      }

      // REFERENCES PROMPT
      #references {
         width: 600px;
         display: flex;
         flex-direction: row;
         text-shadow: 1px 1px #242424;

         // EACH BOX
         .container {
            background: rgba(0, 0, 0, 0.473);
            flex: 1;
            margin-right: 4px;
            height: 100%;
            padding: 2px;
            padding-bottom: 1px;

            #green, #yellow, #red, #blue, #brown, #purple {
               padding: 6px 8px;
               color: white;
               margin-bottom: 1px;
            }

            // COLUMN COLORS
            #green { background: rgba(67, 110, 68, 0.973); }
            #yellow { background: rgba(133, 134, 51, 0.973); }
            #red { background: rgba(129, 66, 66, 0.973); }
            #blue { background: #455475f6; }
            #purple { background: rgba(139, 77, 163, 0.76); }

            // CALIBRATE MAP MARKER BACKGROUNDS
            #brown {
               position: relative;
               background: rgba(148, 113, 76, 0.911);
               background-repeat: no-repeat;
               background-position: center right 10px;
            }
         }
         
         .container:last-child {
            margin-right: 0px;
         }
      }

      #export, #import {
         textarea {
            width: 100%;
            resize: none;
            height: 300px;
            border: 0px solid black;
            outline: none;
            padding: 5px;
         }

         // BUTTONS
         #good, #bad {
            background: rgba(87, 194, 65, 0.897);
            border: 2px solid rgba(87, 194, 65, 0.911);
            width: auto;
            margin-top: 2px;
            color: white;
            transition: 0.3s;
            padding: 3px 5px;
            width: 100%;
         }
         
         #good {
            cursor: pointer;
         }
         
         #bad {
            background: rgba(194, 65, 65, 0.897);
            border: 2px solid rgba(199, 70, 70, 0.897);
         }
      }

      // LOADING SCREEN -- https://loading.io/css/
      .lds-dual-ring {
         display: block;
         width: 80px;
         height: 80px;
         margin: auto;
      }

      .lds-dual-ring:after {
         content: " ";
         display: block;
         width: 80px;
         height: 80px;
         margin: 1px;
         border-radius: 50%;
         border: 6px solid #fff;
         border-color: #fff transparent #fff transparent;
         animation: lds-dual-ring 1.2s linear infinite;
      }

      @keyframes lds-dual-ring {
         0% { transform: rotate(0deg); }
         100% { transform: rotate(360deg); }
      }
   }

   // CLOSE PROMPT CROSS
   #close {
      background: url('../images/close.png') center center no-repeat;
      position: absolute;
      bottom: 0px;
      right: 0px;
      height: 80px;
      width: 80px;
      opacity: 0.6;
      transition: 0.3s;
   }

   #close:hover {
      cursor: pointer;
      opacity: 1;
   }
}

#prompt::after {
   content: "";
   background: url('../images/bg.png');
   opacity: 0.6;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   position: absolute;
   z-index: -1;   
}