#settings {
   width: 600px;
   margin: auto;

   .header {
      font-size: 17px;
      color: white;
      margin-top: 20px;
      padding: 10px;
   }

   .container {
      background: rgba(0, 0, 0, 0.205);
      padding: 4px;
   }

   .option {
      background: rgba(0, 0, 0, 0.158);
      display: flex;
      color: white;
      text-transform: capitalize;
      cursor: pointer;
      padding: 2px;

      #header {
         flex: 1;
         padding: 6px 7px;
      }

      #swapper, #language {
         width: 170px;
         display: flex;
         text-shadow: 1px 1px #242424;

         div {
            background: rgba(47, 128, 175, 0.452);
            flex: 1;
            text-align: center;
            padding: 6px 7px;
            transition: 0.3s;
            margin-left: 2px;
         }

         div:first-child {
            margin: 0px;
         }

         #current {
            background: rgba(60, 199, 60, 0.438);
            text-decoration: underline;
         }
      }

      #language {
         width: 300px;
         text-transform: uppercase;
      }
   }

   .keybind {
      background: rgba(0, 0, 0, 0.158);
      display: flex;
      color: white;
      text-transform: capitalize;
      margin-top: 4px;
      cursor: pointer;
      padding: 2px;

      div {
         padding: 6px 8px;
         transition: 0.3s;
      }

      #header {
         flex: 1;
      }

      #bind, #current {
         width: 170px;
         background: rgba(47, 128, 175, 0.452);
         text-align: center;
      }

      #current {
         background: rgba(60, 199, 60, 0.411);
         text-decoration: underline;
      }
   }
}